oldStack=$(which stack)

mkdir -p .bin

cat <<EOF > .bin/stack
#!/bin/sh
# run stack bith parameter like if it was runned by stack itself
$oldStack "\$@" --internal-re-exec-version=$($oldStack --numeric-version)
EOF
chmod +x .bin/stack
ln -sfT ~/configs/work/contractor/.bin/retags.sh .bin/retags

eval "$(lorri direnv)"
export PATH="$(realpath .bin):$PATH" # Make our scripts available for env
