alias ll="ls -lah --color=auto --classify"
alias ls="ls --color=auto --classify"
alias l="ls -ail"
alias cl="clear"
alias lsd="ls --color=auto --classify -ld *(-/DN)"
alias cvs="cvs -z3"

alias reboot="shutdown -r now"

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"


# git 
alias gl="git log --graph"
alias glt="git log --graph --stat"
alias glp="git log --graph -p"
alias gt="git status --column"
alias gtu="git status -uno"
alias ga="git add"
alias gcm="git commit"
alias gcma="git commit -a"
alias gcmam="git commit -a -m 'no any reasonable message'"
alias gco="git checkout"
alias gd="git diff"
alias gdd="git diff --stat"
